<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Все продукты</title>
</head>
<body>
{% for product in all_products %}
<img src="/{{ product.product_image }}" alt="нету фото">
<button type="button"><a href="/product/{{ product }}">{{ product }}</a></button><br>
{% endfor %}
</body>
</html>