<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Корзина</title>
</head>
<body>
{% if cart_objects %}
{% for cart in cart_objects %}
Товар: {{cart.user_product.product_name}}<br>
Количество: {{cart.user_product_quantity}}<br>
Описание: {{cart.user_product.product_des}}<br>
Итог : {% widthratio cart.user_product_quantity 1 cart.user_product.product_price %}
<form action="/delete_product/{{ cart.user_product.product_name }}">
    <button>Удалить продукт</button>
</form>
<hr>
{% endfor %}
<form action="/zakaz">
    <button>Оформить заказ</button>
    <hr>
</form>
{% else %}
<h1>Корзина пуста</h1>
{% endif %}
<button><a href="/">В главную страницу</a></button>
</body>
</html>