<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Все вещи из категории {{ category_name }}</title>
</head>
<body>
{% for item in category_items %}
<button><a href="/product/{{ item }}">{{ item }}</a></button><br>
{% endfor %}
<button><a href="/">В главную страницу</a></button>
</body>
</html>