<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
</head>
<body>
<button type="button"><a href="/categories">Категории</a></button><hr>
<button type="button"><a href="/products">Продукты</a></button><hr>
{% if user.is_authenticated %}
<button type="button"><a href="/accounts/logout">Logout</a></button>
{% else %}
<button type="button"><a href="/accounts/login">Log in</a></button>
{% endif %}
<hr>
<button><a href="/cart">Корзина</a></button>
<hr>
<!-- Поиск -->
<form action="/search" method="post">
    {% csrf_token %}
    <input type="text" name="search_product">
    <button>Поиск</button>
</form>
<hr>
<img src="https://i.pinimg.com/originals/7a/80/1e/7a801e822c409fde5e62e1baa04c417c.jpg">
</body>
</html>